prototype1(2).json
{"flowContents":{"identifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1","instanceIdentifier":"6bf95b17-019f-1000-de47-473494322749","name":"prototype1","comments":"","position":{"x":-56.0,"y":-136.0},"processGroups":[{"identifier":"fef3e035-f9be-318c-8023-a4397b1091fc","instanceIdentifier":"7a040c82-019f-1000-0664-d8db2289c5f1","name":"sources","comments":"","position":{"x":-4240.0,"y":-1192.0},"processGroups":[{"identifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c","instanceIdentifier":"5fbce829-a96a-38fc-24f3-5ef18989fec3","name":"file ingestion","comments":"","position":{"x":-5008.0,"y":-1400.0},"processGroups":[{"identifier":"7a043a07-019f-1000-7211-4af2e4baee89","instanceIdentifier":"d05aabfd-64ca-3e28-f9bf-22ca14e58e19","name":"json","comments":"","position":{"x":-6000.0,"y":-376.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7a043a08-019f-1000-94a9-79ed282a5d11","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"7a0439de-019f-1000-e665-5711c7262d71","Record Reader":"7a0439e0-019f-1000-b75c-9cba3d902f3f"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7aa99603-2e41-35ac-922e-5205dc42dc02","instanceIdentifier":"7a433705-019f-1000-0d51-f87fa0c1bf5d","name":"LogMessage","comments":"","position":{"x":-5896.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Log Message":"Converted ${filename}\nType=${mime.type}\nRecords=${record.count}","Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a0c-019f-1000-835d-eaf78d3b019a","instanceIdentifier":"3fdbdade-2f82-3c70-e6c4-2d7d1cc89003","name":"PutFile","comments":"","position":{"x":-7456.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a0a-019f-1000-ea81-d05066c6e1be","instanceIdentifier":"8e4b4815-d6b4-3b8d-27b5-dfe2681000fa","name":"UpdateAttribute","comments":"","position":{"x":-6366.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":"${filename}","filename":"${filename:replace('.json','.csv')}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a0b-019f-1000-3375-0c59b9843465","instanceIdentifier":"d598a9e2-f8f7-3d10-8555-fff23c49438c","name":"RetryFlowFile","comments":"","position":{"x":-7200.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a09-019f-1000-bc0e-c15b0c44ce83","instanceIdentifier":"3cbb31aa-81db-3881-812d-2f21cd68a216","name":"UpdateAttribute","comments":"","position":{"x":-6902.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"}],"inputPorts":[{"identifier":"7a043a0d-019f-1000-8647-be634c13d658","instanceIdentifier":"bdbe7284-4e2a-3400-1451-31d7a767fafb","name":"json_input","position":{"x":-6512.0,"y":-760.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"}],"outputPorts":[{"identifier":"7a043a0e-019f-1000-4c6c-647437dd636f","instanceIdentifier":"ba07bb0e-a890-32b7-6212-7d10de8d67f2","name":"json_success","position":{"x":-6216.0,"y":-40.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"}],"connections":[{"identifier":"edb3a44d-6140-32fb-9692-d6f08daebb1f","instanceIdentifier":"7a4456a4-019f-1000-4b78-f0c9fe56eaf4","name":"","source":{"id":"7a043a08-019f-1000-94a9-79ed282a5d11","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"ConvertRecord","comments":"","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb"},"destination":{"id":"7aa99603-2e41-35ac-922e-5205dc42dc02","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"LogMessage","comments":"","instanceIdentifier":"7a433705-019f-1000-0d51-f87fa0c1bf5d"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a11-019f-1000-42ff-36108abce018","instanceIdentifier":"f807ff59-702c-31d8-052e-4f544113eb64","name":"","source":{"id":"7a043a09-019f-1000-bc0e-c15b0c44ce83","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"UpdateAttribute","comments":"","instanceIdentifier":"3cbb31aa-81db-3881-812d-2f21cd68a216"},"destination":{"id":"7a043a0b-019f-1000-3375-0c59b9843465","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"RetryFlowFile","comments":"","instanceIdentifier":"d598a9e2-f8f7-3d10-8555-fff23c49438c"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a13-019f-1000-9a51-3605661a2230","instanceIdentifier":"6fc093dd-b203-39c2-bf6d-549c3f173f64","name":"","source":{"id":"7a043a0b-019f-1000-3375-0c59b9843465","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"RetryFlowFile","comments":"","instanceIdentifier":"d598a9e2-f8f7-3d10-8555-fff23c49438c"},"destination":{"id":"7a043a08-019f-1000-94a9-79ed282a5d11","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"ConvertRecord","comments":"","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb"},"labelIndex":0,"zIndex":18,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a12-019f-1000-895f-8d18d42a779a","instanceIdentifier":"1ee19b35-0328-36f3-11ea-fa5f6c98dcee","name":"","source":{"id":"7a043a08-019f-1000-94a9-79ed282a5d11","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"ConvertRecord","comments":"","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb"},"destination":{"id":"7a043a0a-019f-1000-ea81-d05066c6e1be","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"UpdateAttribute","comments":"","instanceIdentifier":"8e4b4815-d6b4-3b8d-27b5-dfe2681000fa"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a0f-019f-1000-64b1-90bf216e3b6a","instanceIdentifier":"5ed0ae6a-19ee-35cf-ef40-ceb8484a0080","name":"","source":{"id":"7a043a0d-019f-1000-8647-be634c13d658","type":"INPUT_PORT","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"json_input","instanceIdentifier":"bdbe7284-4e2a-3400-1451-31d7a767fafb"},"destination":{"id":"7a043a08-019f-1000-94a9-79ed282a5d11","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"ConvertRecord","comments":"","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a14-019f-1000-2a0f-f8fe0542301b","instanceIdentifier":"48e4069d-c76f-3eb8-139d-9417d15a29c6","name":"","source":{"id":"7a043a0a-019f-1000-ea81-d05066c6e1be","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"UpdateAttribute","comments":"","instanceIdentifier":"8e4b4815-d6b4-3b8d-27b5-dfe2681000fa"},"destination":{"id":"7a043a0e-019f-1000-4c6c-647437dd636f","type":"OUTPUT_PORT","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"json_success","instanceIdentifier":"ba07bb0e-a890-32b7-6212-7d10de8d67f2"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a10-019f-1000-93b2-7e7b1d7148a0","instanceIdentifier":"8d65ba0f-44e1-36a5-95be-9b969d725764","name":"","source":{"id":"7a043a0b-019f-1000-3375-0c59b9843465","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"RetryFlowFile","comments":"","instanceIdentifier":"d598a9e2-f8f7-3d10-8555-fff23c49438c"},"destination":{"id":"7a043a0c-019f-1000-835d-eaf78d3b019a","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"PutFile","comments":"","instanceIdentifier":"3fdbdade-2f82-3c70-e6c4-2d7d1cc89003"},"labelIndex":0,"zIndex":19,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"},{"identifier":"7a043a15-019f-1000-dcb3-66475f85fb47","instanceIdentifier":"86f3abc6-30bb-3385-28de-4e05062b4d2c","name":"","source":{"id":"7a043a08-019f-1000-94a9-79ed282a5d11","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"ConvertRecord","comments":"","instanceIdentifier":"7abe7e70-c8c8-3b7a-1a89-e5ad305b09cb"},"destination":{"id":"7a043a09-019f-1000-bc0e-c15b0c44ce83","type":"PROCESSOR","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"UpdateAttribute","comments":"","instanceIdentifier":"3cbb31aa-81db-3881-812d-2f21cd68a216"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a043a07-019f-1000-7211-4af2e4baee89"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a65d71d-019f-1000-d198-17fa107b4c99","instanceIdentifier":"ccc8d53a-3034-309e-fadc-b970e6337cfa","name":"csv","comments":"","position":{"x":-6552.0,"y":-760.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e0ee715e-78d8-36cb-b33d-6a4d7b9831cb","instanceIdentifier":"7a6847ed-019f-1000-7d77-26531394ab39","name":"UpdateAttribute","comments":"","position":{"x":-6472.0,"y":-600.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"filename":" ${filename:replace('.txt','.csv')} ","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a65d71d-019f-1000-d198-17fa107b4c99"}],"inputPorts":[{"identifier":"7a65d722-019f-1000-2daf-01068d29be9f","instanceIdentifier":"f4113fa9-0867-3223-dfc4-fb88408289d0","name":"txt_input","position":{"x":-6437.65754449764,"y":-773.8924308182679},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a65d71d-019f-1000-d198-17fa107b4c99"}],"outputPorts":[{"identifier":"7a65d723-019f-1000-29b4-1b174dcff17b","instanceIdentifier":"0f68b7d4-61c6-3706-0570-c5d14c7738ce","name":"csv_success","position":{"x":-6472.0,"y":-304.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a65d71d-019f-1000-d198-17fa107b4c99"}],"connections":[{"identifier":"ce426c2d-b177-30c1-8a1b-054721530c23","instanceIdentifier":"7a686d8e-019f-1000-5568-88ab6c959226","name":"","source":{"id":"7a65d722-019f-1000-2daf-01068d29be9f","type":"INPUT_PORT","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"txt_input","instanceIdentifier":"f4113fa9-0867-3223-dfc4-fb88408289d0"},"destination":{"id":"e0ee715e-78d8-36cb-b33d-6a4d7b9831cb","type":"PROCESSOR","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a6847ed-019f-1000-7d77-26531394ab39"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a65d71d-019f-1000-d198-17fa107b4c99"},{"identifier":"c2da6052-a50f-3a55-9afe-e7912240c7c8","instanceIdentifier":"7a6879ac-019f-1000-180b-c324e183fc60","name":"","source":{"id":"e0ee715e-78d8-36cb-b33d-6a4d7b9831cb","type":"PROCESSOR","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a6847ed-019f-1000-7d77-26531394ab39"},"destination":{"id":"7a65d723-019f-1000-29b4-1b174dcff17b","type":"OUTPUT_PORT","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"csv_success","instanceIdentifier":"0f68b7d4-61c6-3706-0570-c5d14c7738ce"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a65d71d-019f-1000-d198-17fa107b4c99"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","instanceIdentifier":"626e151f-89ab-3dbb-6550-688aed4f0d86","name":"xml","comments":"","position":{"x":-5440.0,"y":-368.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7a4748eb-019f-1000-bf41-13d17331267a","instanceIdentifier":"5c914c34-0cd0-35bc-66e0-10c7d12ea3aa","name":"LogMessage","comments":"","position":{"x":-5928.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Log Message":"Converted ${filename}\nType=${mime.type}\nRecords=${record.count}","Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439ec-019f-1000-b90a-4e0d87e4c12d","instanceIdentifier":"d159f3ec-33c6-30f4-20c4-eef7af6f0336","name":"UpdateAttribute","comments":"","position":{"x":-6888.0,"y":-296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"7a0439de-019f-1000-e665-5711c7262d71","Record Reader":"7a0439e1-019f-1000-9ff0-75cd40158725"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439ee-019f-1000-3c02-3ef82a18a965","instanceIdentifier":"5f1bb052-81a6-3cd3-0746-4e42e57e0c33","name":"PutFile","comments":"","position":{"x":-7416.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439ed-019f-1000-7cc8-ac346dfeb567","instanceIdentifier":"a67f9198-da9c-3371-ba8c-1dafff6b4548","name":"UpdateAttribute","comments":"","position":{"x":-6366.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":"${filename}","filename":"${filename:replace('.xml','.csv')}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439ef-019f-1000-ed12-8b769b90b686","instanceIdentifier":"012a83ff-c6c2-3b6c-1004-9ebf3baf80da","name":"RetryFlowFile","comments":"","position":{"x":-7256.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"}],"inputPorts":[{"identifier":"7a0439f1-019f-1000-467b-d7aa748a084c","instanceIdentifier":"cbe96821-c725-3074-d104-8fb94990d715","name":"xml_input","position":{"x":-6419.669106833273,"y":-738.1634846609811},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"}],"outputPorts":[{"identifier":"7a0439f2-019f-1000-6744-1e6cc0c77448","instanceIdentifier":"89604597-eeb9-31d0-c7b7-16609347cc77","name":"xml_success","position":{"x":-6059.559704611987,"y":-76.9915818644539},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"}],"connections":[{"identifier":"7a0439f7-019f-1000-ccac-5fad601c64f6","instanceIdentifier":"16b4ea9b-0f94-3d93-6c5a-1f83bd279b2b","name":"","source":{"id":"7a0439f1-019f-1000-467b-d7aa748a084c","type":"INPUT_PORT","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"xml_input","instanceIdentifier":"cbe96821-c725-3074-d104-8fb94990d715"},"destination":{"id":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"ConvertRecord","comments":"","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f5-019f-1000-929c-60e8251bc6a1","instanceIdentifier":"4f5f65fc-0f58-3464-21f2-09c92a4f7bed","name":"","source":{"id":"7a0439ed-019f-1000-7cc8-ac346dfeb567","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"UpdateAttribute","comments":"","instanceIdentifier":"a67f9198-da9c-3371-ba8c-1dafff6b4548"},"destination":{"id":"7a0439f2-019f-1000-6744-1e6cc0c77448","type":"OUTPUT_PORT","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"xml_success","instanceIdentifier":"89604597-eeb9-31d0-c7b7-16609347cc77"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f6-019f-1000-a9ba-03bfc324ddee","instanceIdentifier":"9b52fc50-dc29-3692-dcbb-16b20fd54e34","name":"","source":{"id":"7a0439ef-019f-1000-ed12-8b769b90b686","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"RetryFlowFile","comments":"","instanceIdentifier":"012a83ff-c6c2-3b6c-1004-9ebf3baf80da"},"destination":{"id":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"ConvertRecord","comments":"","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0"},"labelIndex":0,"zIndex":17,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f3-019f-1000-91f1-8e143bd7e4da","instanceIdentifier":"b76c9104-b94b-3291-dd4f-dac74305d05a","name":"","source":{"id":"7a0439ef-019f-1000-ed12-8b769b90b686","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"RetryFlowFile","comments":"","instanceIdentifier":"012a83ff-c6c2-3b6c-1004-9ebf3baf80da"},"destination":{"id":"7a0439ee-019f-1000-3c02-3ef82a18a965","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"PutFile","comments":"","instanceIdentifier":"5f1bb052-81a6-3cd3-0746-4e42e57e0c33"},"labelIndex":0,"zIndex":19,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f9-019f-1000-e17b-13eda99d9254","instanceIdentifier":"df82a274-6fd8-367c-54cd-dcc1c119cbbe","name":"","source":{"id":"7a0439ec-019f-1000-b90a-4e0d87e4c12d","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"UpdateAttribute","comments":"","instanceIdentifier":"d159f3ec-33c6-30f4-20c4-eef7af6f0336"},"destination":{"id":"7a0439ef-019f-1000-ed12-8b769b90b686","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"RetryFlowFile","comments":"","instanceIdentifier":"012a83ff-c6c2-3b6c-1004-9ebf3baf80da"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"f3c0f229-589a-32fa-a17e-d18b43529a9c","instanceIdentifier":"7a4763a8-019f-1000-2a77-6ed4fcc6b6cd","name":"","source":{"id":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"ConvertRecord","comments":"","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0"},"destination":{"id":"7a4748eb-019f-1000-bf41-13d17331267a","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"LogMessage","comments":"","instanceIdentifier":"5c914c34-0cd0-35bc-66e0-10c7d12ea3aa"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f8-019f-1000-cfae-b15c0c39d1c9","instanceIdentifier":"3c3ea4e6-3ce2-366e-c771-3bdf62479842","name":"","source":{"id":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"ConvertRecord","comments":"","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0"},"destination":{"id":"7a0439ed-019f-1000-7cc8-ac346dfeb567","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"UpdateAttribute","comments":"","instanceIdentifier":"a67f9198-da9c-3371-ba8c-1dafff6b4548"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"},{"identifier":"7a0439f4-019f-1000-f516-6d0903bbe206","instanceIdentifier":"0b47148d-69b8-3e06-3af3-b27f0488f715","name":"","source":{"id":"7a0439f0-019f-1000-e4f4-50ca1ba0cd26","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"ConvertRecord","comments":"","instanceIdentifier":"a5917264-8d41-34c4-e892-e0d1c1c656f0"},"destination":{"id":"7a0439ec-019f-1000-b90a-4e0d87e4c12d","type":"PROCESSOR","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"UpdateAttribute","comments":"","instanceIdentifier":"d159f3ec-33c6-30f4-20c4-eef7af6f0336"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439eb-019f-1000-6cb5-a369c3d6ca35"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439fa-019f-1000-8c11-187542abdb74","instanceIdentifier":"82ebb63a-16ed-390d-258c-488a18c3eb14","name":"csv","comments":"","position":{"x":-6552.0,"y":-392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7a0439fe-019f-1000-39ce-12ca25db83f0","instanceIdentifier":"5995cca4-6ad1-3d41-c6a1-b0af241f5037","name":"PutFile","comments":"","position":{"x":-7552.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a0439fd-019f-1000-881c-01b06e732fab","instanceIdentifier":"9a5b5289-a78a-339f-dcc4-a910d43b62e8","name":"RetryFlowFile","comments":"","position":{"x":-7416.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a0439fb-019f-1000-5ff1-b9f7fc8e69de","instanceIdentifier":"bbd6595b-e5da-377b-f8ea-93ce9d1b7b49","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"7a0439de-019f-1000-e665-5711c7262d71","Record Reader":"7a0439df-019f-1000-ddf8-be6bfbdd0ae7"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a0439fc-019f-1000-fc65-a523fef1e5a4","instanceIdentifier":"9e54ab44-fc20-301e-c75b-8e86a491a46f","name":"UpdateAttribute","comments":"","position":{"x":-6902.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"}],"inputPorts":[{"identifier":"7a0439ff-019f-1000-4c2f-276affb2ba63","instanceIdentifier":"d5455209-6f1e-344c-b5bf-a78e4989f9c3","name":"csv_input","position":{"x":-6437.65754449764,"y":-773.8924308182679},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"}],"outputPorts":[{"identifier":"7a043a00-019f-1000-3635-bd0619400d21","instanceIdentifier":"492de81b-5006-39c4-fa6d-76b4a931b7de","name":"csv_success","position":{"x":-6169.471968568903,"y":-69.68392825331085},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"}],"connections":[{"identifier":"7a043a05-019f-1000-764e-9c73a2f2169a","instanceIdentifier":"28964e28-fcac-3117-d308-a6798694450b","name":"","source":{"id":"7a0439fb-019f-1000-5ff1-b9f7fc8e69de","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"ConvertRecord","comments":"","instanceIdentifier":"bbd6595b-e5da-377b-f8ea-93ce9d1b7b49"},"destination":{"id":"7a0439fc-019f-1000-fc65-a523fef1e5a4","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e54ab44-fc20-301e-c75b-8e86a491a46f"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a043a03-019f-1000-de90-eb05e91e1d67","instanceIdentifier":"89e343e9-8184-378c-7c29-eef553d206fd","name":"","source":{"id":"7a0439fc-019f-1000-fc65-a523fef1e5a4","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e54ab44-fc20-301e-c75b-8e86a491a46f"},"destination":{"id":"7a0439fd-019f-1000-881c-01b06e732fab","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"RetryFlowFile","comments":"","instanceIdentifier":"9a5b5289-a78a-339f-dcc4-a910d43b62e8"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a043a01-019f-1000-6ca1-22562301c33e","instanceIdentifier":"db381d09-e59a-3f17-a299-0ac433f2a873","name":"","source":{"id":"7a0439ff-019f-1000-4c2f-276affb2ba63","type":"INPUT_PORT","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"csv_input","instanceIdentifier":"d5455209-6f1e-344c-b5bf-a78e4989f9c3"},"destination":{"id":"7a0439fb-019f-1000-5ff1-b9f7fc8e69de","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"ConvertRecord","comments":"","instanceIdentifier":"bbd6595b-e5da-377b-f8ea-93ce9d1b7b49"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a043a04-019f-1000-87e5-bee906934691","instanceIdentifier":"0ea656ac-c30a-3194-30ff-34697421c403","name":"","source":{"id":"7a0439fd-019f-1000-881c-01b06e732fab","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"RetryFlowFile","comments":"","instanceIdentifier":"9a5b5289-a78a-339f-dcc4-a910d43b62e8"},"destination":{"id":"7a0439fb-019f-1000-5ff1-b9f7fc8e69de","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"ConvertRecord","comments":"","instanceIdentifier":"bbd6595b-e5da-377b-f8ea-93ce9d1b7b49"},"labelIndex":0,"zIndex":18,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"94d2f740-a4ec-3fb7-94c6-a3f6dde7d5b3","instanceIdentifier":"7a5e28af-019f-1000-ab3c-405df6c197a0","name":"","source":{"id":"7a0439fd-019f-1000-881c-01b06e732fab","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"RetryFlowFile","comments":"","instanceIdentifier":"9a5b5289-a78a-339f-dcc4-a910d43b62e8"},"destination":{"id":"7a0439fe-019f-1000-39ce-12ca25db83f0","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"PutFile","comments":"","instanceIdentifier":"5995cca4-6ad1-3d41-c6a1-b0af241f5037"},"labelIndex":0,"zIndex":21,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"},{"identifier":"7a043a06-019f-1000-06bb-abef30b68a8a","instanceIdentifier":"67ade433-e97c-3a93-cecf-717c90aa8dc3","name":"","source":{"id":"7a0439fb-019f-1000-5ff1-b9f7fc8e69de","type":"PROCESSOR","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"ConvertRecord","comments":"","instanceIdentifier":"bbd6595b-e5da-377b-f8ea-93ce9d1b7b49"},"destination":{"id":"7a043a00-019f-1000-3635-bd0619400d21","type":"OUTPUT_PORT","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"csv_success","instanceIdentifier":"492de81b-5006-39c4-fa6d-76b4a931b7de"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439fa-019f-1000-8c11-187542abdb74"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"}],"remoteProcessGroups":[],"processors":[{"identifier":"7a0439e6-019f-1000-225e-a5cd9c045320","instanceIdentifier":"1fad0e66-6af7-325a-ba1f-4591a3fc4114","name":"UpdateAttribute","comments":"","position":{"x":-5984.0,"y":-1176.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","ingestion_day":"${now():format(\"dd\")}","ingestion_year":"${now():format(\"yyyy\")}","Cache Value Lookup Cache Size":"100","ingestion_month":"${now():format(\"MM\")}","source":"#{source_name}","Stateful Variables Initial Value":null,"entity":"#{entity_name}","ingestion_date":"${now():format('yyyy-MM-dd')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion_day":{"name":"ingestion_day","displayName":"ingestion_day","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_year":{"name":"ingestion_year","displayName":"ingestion_year","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion_month":{"name":"ingestion_month","displayName":"ingestion_month","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity":{"name":"entity","displayName":"entity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_date":{"name":"ingestion_date","displayName":"ingestion_date","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e3-019f-1000-634f-a6328fcf18cb","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916","name":"FetchFile","comments":"","position":{"x":-5992.0,"y":-1392.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["permission.denied"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["not.found"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e5-019f-1000-a675-e5ee4eabc3b9","instanceIdentifier":"26978937-0460-3f45-b4bf-8d3c9ea97494","name":"RetryFlowFile","comments":"","position":{"x":-6664.0,"y":-1432.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e2-019f-1000-151a-a8241df61422","instanceIdentifier":"ffee0a8d-06b4-3ff7-f1fd-fdecbb839d81","name":"ListFile","comments":"","position":{"x":-6000.836832809199,"y":-1599.777839692654},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Minimum File Age":"5 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"#{input}","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e7-019f-1000-9402-75893a9b4f59","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700","name":"RouteOnAttribute","comments":"","position":{"x":-6000.0,"y":-744.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"txt":"${filename:toLower():endsWith('.txt')}","Routing Strategy":"Route to Property name","xml":"${filename:toLower():endsWith('.xml')}","csv":"${filename:toLower():endsWith('.csv')}","json":"${filename:toLower():endsWith('.json')}"},"propertyDescriptors":{"txt":{"name":"txt","displayName":"txt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"xml":{"name":"xml","displayName":"xml","identifiesControllerService":false,"sensitive":false,"dynamic":true},"csv":{"name":"csv","displayName":"csv","identifiesControllerService":false,"sensitive":false,"dynamic":true},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7aed8bb7-8708-3292-b559-2291ca2f9d49","instanceIdentifier":"7a5bcba1-019f-1000-059e-08f75baf7393","name":"UpdateAttribute","comments":"","position":{"x":-5448.0,"y":-744.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"update attribute (unmatched)","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e4-019f-1000-cb28-6cacab9c56d0","instanceIdentifier":"c0fc97da-34ee-348e-2510-8d9ee004bebf","name":"UpdateAttribute (hdfs path)","comments":"","position":{"x":-5984.0,"y":-952.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"hdfs_path":"#{hdfs_base}/${source}/${entity}/year=${ingestion_year}/month=${ingestion_month}/day=${ingestion_day}","Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs_path":{"name":"hdfs_path","displayName":"hdfs_path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"5d09600c-faf4-39ba-a8d5-2411d8229b96","instanceIdentifier":"7a3a3ba9-019f-1000-c0cf-b7b682e05e42","name":"UpdateAttribute","comments":"","position":{"x":-6672.0,"y":-1208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"FetchFile","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"}],"inputPorts":[],"outputPorts":[{"identifier":"f9d31515-8653-3f42-97cd-f8e5d35c7b33","instanceIdentifier":"7a3bdd5c-019f-1000-a360-6015ee82cc28","name":"fetch fail","position":{"x":-6632.0,"y":-960.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e9-019f-1000-ff11-95f9291db562","instanceIdentifier":"f62c59fb-f576-383b-04e3-4419f1ce2d67","name":"file output","position":{"x":-5912.0,"y":8.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"dcb3b5cf-c852-3447-bfcf-a990689b1e76","instanceIdentifier":"7a41368f-019f-1000-746e-4cc2685932c4","name":"unmatched attribute","position":{"x":-5376.0,"y":-520.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"}],"connections":[{"identifier":"36893309-fa83-359c-879f-fe09978080f5","instanceIdentifier":"7a675a0a-019f-1000-481a-86c6acceb3f6","name":"","source":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"destination":{"id":"7a65d722-019f-1000-2daf-01068d29be9f","type":"INPUT_PORT","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"txt_input","instanceIdentifier":"f4113fa9-0867-3223-dfc4-fb88408289d0"},"labelIndex":0,"zIndex":29,"selectedRelationships":["txt"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a1f-019f-1000-2191-36324593ea57","instanceIdentifier":"395d9015-b4ca-35e5-cc45-80cdce89e88b","name":"","source":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"destination":{"id":"7a0439ff-019f-1000-4c2f-276affb2ba63","type":"INPUT_PORT","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"csv_input","instanceIdentifier":"d5455209-6f1e-344c-b5bf-a78e4989f9c3"},"labelIndex":0,"zIndex":9,"selectedRelationships":["csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a1a-019f-1000-5cc3-068cb98ea6d2","instanceIdentifier":"737051cc-9e0c-3e94-116d-7e63d8501fa9","name":"","source":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"destination":{"id":"7a0439f1-019f-1000-467b-d7aa748a084c","type":"INPUT_PORT","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"xml_input","instanceIdentifier":"cbe96821-c725-3074-d104-8fb94990d715"},"labelIndex":0,"zIndex":11,"selectedRelationships":["xml"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"30606115-35f2-3d90-accb-a91026099c7b","instanceIdentifier":"7a490269-019f-1000-01b0-f1d6593d6fe4","name":"","source":{"id":"7a0439f2-019f-1000-6744-1e6cc0c77448","type":"OUTPUT_PORT","groupId":"7a0439eb-019f-1000-6cb5-a369c3d6ca35","name":"xml_success","instanceIdentifier":"89604597-eeb9-31d0-c7b7-16609347cc77"},"destination":{"id":"7a0439e9-019f-1000-ff11-95f9291db562","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"file output","instanceIdentifier":"f62c59fb-f576-383b-04e3-4419f1ce2d67"},"labelIndex":0,"zIndex":24,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"853d7169-6663-38b8-98a8-fc83482ded8d","instanceIdentifier":"7a699414-019f-1000-309e-0c8afc7df83c","name":"","source":{"id":"7a65d723-019f-1000-29b4-1b174dcff17b","type":"OUTPUT_PORT","groupId":"7a65d71d-019f-1000-d198-17fa107b4c99","name":"csv_success","instanceIdentifier":"0f68b7d4-61c6-3706-0570-c5d14c7738ce"},"destination":{"id":"7a0439ff-019f-1000-4c2f-276affb2ba63","type":"INPUT_PORT","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"csv_input","instanceIdentifier":"d5455209-6f1e-344c-b5bf-a78e4989f9c3"},"labelIndex":0,"zIndex":30,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a17-019f-1000-6e5a-7411d4d8c834","instanceIdentifier":"4f7bc258-4df9-3db5-1e0f-1e1fe09cd69c","name":"","source":{"id":"7a0439e2-019f-1000-151a-a8241df61422","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"ListFile","comments":"","instanceIdentifier":"ffee0a8d-06b4-3ff7-f1fd-fdecbb839d81"},"destination":{"id":"7a0439e3-019f-1000-634f-a6328fcf18cb","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"FetchFile","comments":"","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a1b-019f-1000-48eb-0bf804b7c91a","instanceIdentifier":"09febf59-c75c-3530-e97d-96ecaa3d6445","name":"","source":{"id":"7a0439e3-019f-1000-634f-a6328fcf18cb","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"FetchFile","comments":"","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916"},"destination":{"id":"7a0439e6-019f-1000-225e-a5cd9c045320","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fad0e66-6af7-325a-ba1f-4591a3fc4114"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"71455c5b-5707-3497-8987-905d3af67ee4","instanceIdentifier":"7a3ab029-019f-1000-9a5a-578a56f3b637","name":"","source":{"id":"7a0439e5-019f-1000-a675-e5ee4eabc3b9","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RetryFlowFile","comments":"","instanceIdentifier":"26978937-0460-3f45-b4bf-8d3c9ea97494"},"destination":{"id":"5d09600c-faf4-39ba-a8d5-2411d8229b96","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a3a3ba9-019f-1000-c0cf-b7b682e05e42"},"labelIndex":0,"zIndex":16,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"2f2d3cb3-dc60-3540-8b83-641cc3f01436","instanceIdentifier":"7a48e58f-019f-1000-1b85-fe87a87efa65","name":"","source":{"id":"7a043a00-019f-1000-3635-bd0619400d21","type":"OUTPUT_PORT","groupId":"7a0439fa-019f-1000-8c11-187542abdb74","name":"csv_success","instanceIdentifier":"492de81b-5006-39c4-fa6d-76b4a931b7de"},"destination":{"id":"7a0439e9-019f-1000-ff11-95f9291db562","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"file output","instanceIdentifier":"f62c59fb-f576-383b-04e3-4419f1ce2d67"},"labelIndex":0,"zIndex":22,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a16-019f-1000-7b31-fa6abc39d45e","instanceIdentifier":"ded42781-a16e-318b-528e-d091585f9cb3","name":"","source":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"destination":{"id":"7a043a0d-019f-1000-8647-be634c13d658","type":"INPUT_PORT","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"json_input","instanceIdentifier":"bdbe7284-4e2a-3400-1451-31d7a767fafb"},"labelIndex":0,"zIndex":10,"selectedRelationships":["json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a22-019f-1000-bdba-8d07fc95fca1","instanceIdentifier":"c282c556-5fb4-3090-e99f-a756d655feb3","name":"","source":{"id":"7a0439e6-019f-1000-225e-a5cd9c045320","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fad0e66-6af7-325a-ba1f-4591a3fc4114"},"destination":{"id":"7a0439e4-019f-1000-cb28-6cacab9c56d0","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute (hdfs path)","comments":"","instanceIdentifier":"c0fc97da-34ee-348e-2510-8d9ee004bebf"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a18-019f-1000-d305-1b0f1a4dc201","instanceIdentifier":"cec3c288-ecb8-399f-0708-85479c4dd73d","name":"","source":{"id":"7a0439e3-019f-1000-634f-a6328fcf18cb","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"FetchFile","comments":"","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916"},"destination":{"id":"7a0439e5-019f-1000-a675-e5ee4eabc3b9","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RetryFlowFile","comments":"","instanceIdentifier":"26978937-0460-3f45-b4bf-8d3c9ea97494"},"labelIndex":0,"zIndex":4,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a1c-019f-1000-1393-1efd9e527baa","instanceIdentifier":"a7143438-727f-3e7d-0331-03eedb268e71","name":"","source":{"id":"7a0439e4-019f-1000-cb28-6cacab9c56d0","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute (hdfs path)","comments":"","instanceIdentifier":"c0fc97da-34ee-348e-2510-8d9ee004bebf"},"destination":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a043a21-019f-1000-5224-fab2d78b0900","instanceIdentifier":"ee71337b-fe65-3377-8569-1cf0e0c1c431","name":"","source":{"id":"7a0439e5-019f-1000-a675-e5ee4eabc3b9","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RetryFlowFile","comments":"","instanceIdentifier":"26978937-0460-3f45-b4bf-8d3c9ea97494"},"destination":{"id":"7a0439e3-019f-1000-634f-a6328fcf18cb","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"FetchFile","comments":"","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916"},"labelIndex":0,"zIndex":5,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6136.0,"y":-1280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"84786c8b-b9ac-3660-b713-dcbf0f181084","instanceIdentifier":"7a48f29f-019f-1000-f188-5a5a46d44d09","name":"","source":{"id":"7a043a0e-019f-1000-4c6c-647437dd636f","type":"OUTPUT_PORT","groupId":"7a043a07-019f-1000-7211-4af2e4baee89","name":"json_success","instanceIdentifier":"ba07bb0e-a890-32b7-6212-7d10de8d67f2"},"destination":{"id":"7a0439e9-019f-1000-ff11-95f9291db562","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"file output","instanceIdentifier":"f62c59fb-f576-383b-04e3-4419f1ce2d67"},"labelIndex":0,"zIndex":23,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"bfb60399-f030-36ed-bb7c-78676ad2d0a0","instanceIdentifier":"7a5b2d72-019f-1000-68e3-98dfa72c39dc","name":"","source":{"id":"7a0439e3-019f-1000-634f-a6328fcf18cb","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"FetchFile","comments":"","instanceIdentifier":"4355eb7a-e8df-3ce1-bf23-80503f055916"},"destination":{"id":"7a0439e5-019f-1000-a675-e5ee4eabc3b9","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RetryFlowFile","comments":"","instanceIdentifier":"26978937-0460-3f45-b4bf-8d3c9ea97494"},"labelIndex":0,"zIndex":25,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6152.0,"y":-1423.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"f899d5c7-39e9-3bef-960d-79e4f25ce379","instanceIdentifier":"7a5b6877-019f-1000-6fa7-34b3d8bb425a","name":"","source":{"id":"5d09600c-faf4-39ba-a8d5-2411d8229b96","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a3a3ba9-019f-1000-c0cf-b7b682e05e42"},"destination":{"id":"f9d31515-8653-3f42-97cd-f8e5d35c7b33","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"fetch fail","instanceIdentifier":"7a3bdd5c-019f-1000-a360-6015ee82cc28"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"13633e40-b62a-3760-9fa3-fb24983665d8","instanceIdentifier":"7a5c0033-019f-1000-9409-09df076a1584","name":"","source":{"id":"7a0439e7-019f-1000-9402-75893a9b4f59","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6121b68a-ac7b-3308-1671-da345d11b700"},"destination":{"id":"7aed8bb7-8708-3292-b559-2291ca2f9d49","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a5bcba1-019f-1000-059e-08f75baf7393"},"labelIndex":0,"zIndex":27,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"18afd534-253e-3f2c-8f64-217df4dfa9d5","instanceIdentifier":"7a5c5f74-019f-1000-c8b1-9ccdf95cf4b4","name":"","source":{"id":"7aed8bb7-8708-3292-b559-2291ca2f9d49","type":"PROCESSOR","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"UpdateAttribute","comments":"","instanceIdentifier":"7a5bcba1-019f-1000-059e-08f75baf7393"},"destination":{"id":"dcb3b5cf-c852-3447-bfcf-a990689b1e76","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"unmatched attribute","instanceIdentifier":"7a41368f-019f-1000-746e-4cc2685932c4"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7a0439df-019f-1000-ddf8-be6bfbdd0ae7","instanceIdentifier":"1ccfa46f-da08-390a-b059-7382b4cf2e78","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e1-019f-1000-9ff0-75cd40158725","instanceIdentifier":"c3468a36-9a3f-35f3-a786-acb5b7d23bfa","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Field Name for Content":null,"Schema Text":"${avro.schema}","Schema Inference Cache":null,"Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Parse XML Attributes":"true","Attribute Prefix":null,"Schema Version":null,"Time Format":null,"Expect Records as Array":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Field Name for Content":{"name":"Field Name for Content","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parse XML Attributes":{"name":"Parse XML Attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Prefix":{"name":"Attribute Prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expect Records as Array":{"name":"Expect Records as Array","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439de-019f-1000-e665-5711c7262d71","instanceIdentifier":"3b43f03a-57d9-33b1-1dad-46025455605b","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"},{"identifier":"7a0439e0-019f-1000-b75c-9cba3d902f3f","instanceIdentifier":"5bd22f28-1198-3d47-4423-ed1f862d51f2","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Parsing Strategy":"STANDARD"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parsing Strategy":{"name":"Parsing Strategy","displayName":"Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439dd-019f-1000-b409-40d18ed1eb5c"}],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"},{"identifier":"7a0439d4-019f-1000-6aec-c84b906c7eed","instanceIdentifier":"0a23fbee-82ff-387c-0761-727f12215576","name":"jdbc ingestion","comments":"","position":{"x":-5496.0,"y":-1416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7a0439d9-019f-1000-0ac5-b08872a42199","instanceIdentifier":"f593e96f-2722-3eb9-6a85-74e2391b8bc0","name":"UpdateAttribute","comments":"","position":{"x":-6350.6529814896985,"y":-914.7605889927153},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"hdfs_path":"#{hdfs_base}/#{source_name}/#{entity_name}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Delete Attributes Expression":"${filename}","filename":"${filename}.csv","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","source":"jdbc","ingestion_type":"incremental","Stateful Variables Initial Value":null,"entity":"#{entity_name}"},"propertyDescriptors":{"hdfs_path":{"name":"hdfs_path","displayName":"hdfs_path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_type":{"name":"ingestion_type","displayName":"ingestion_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity":{"name":"entity","displayName":"entity","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"},{"identifier":"7a0439d8-019f-1000-1256-9cf6525e04ce","instanceIdentifier":"2b54213f-c6ff-3bfd-6db6-3b2b3f3dc172","name":"QueryDatabaseTableRecord","comments":"","position":{"x":-6464.0,"y":-1240.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Table Name":"employees","Set Auto Commit":null,"Max Wait Time":"0 seconds","Normalize Table/Column Names":"false","Database Connection Pooling Service":"7a0439d7-019f-1000-6cf1-d7d6322f9bb3","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Database Type":"MySQL","Columns to Return":null,"Record Writer":"7a0439d6-019f-1000-6ba4-5bb660d1cd22","Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"}],"inputPorts":[],"outputPorts":[{"identifier":"7a0439da-019f-1000-5831-0e63cdd15e9a","instanceIdentifier":"125800cc-cc1c-37bd-5faf-5b2c1c047477","name":"JDBCoutput","position":{"x":-6432.0,"y":-584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"}],"connections":[{"identifier":"7a0439dc-019f-1000-53d2-6396efd5d855","instanceIdentifier":"c91841ec-f6ed-3a36-eeb7-ac11458c5f91","name":"","source":{"id":"7a0439d8-019f-1000-1256-9cf6525e04ce","type":"PROCESSOR","groupId":"7a0439d4-019f-1000-6aec-c84b906c7eed","name":"QueryDatabaseTableRecord","comments":"","instanceIdentifier":"2b54213f-c6ff-3bfd-6db6-3b2b3f3dc172"},"destination":{"id":"7a0439d9-019f-1000-0ac5-b08872a42199","type":"PROCESSOR","groupId":"7a0439d4-019f-1000-6aec-c84b906c7eed","name":"UpdateAttribute","comments":"","instanceIdentifier":"f593e96f-2722-3eb9-6a85-74e2391b8bc0"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"},{"identifier":"7a0439db-019f-1000-d462-d03285fe7aac","instanceIdentifier":"a20f98f5-1ec3-3454-1ed7-85763e103291","name":"","source":{"id":"7a0439d9-019f-1000-0ac5-b08872a42199","type":"PROCESSOR","groupId":"7a0439d4-019f-1000-6aec-c84b906c7eed","name":"UpdateAttribute","comments":"","instanceIdentifier":"f593e96f-2722-3eb9-6a85-74e2391b8bc0"},"destination":{"id":"7a0439da-019f-1000-5831-0e63cdd15e9a","type":"OUTPUT_PORT","groupId":"7a0439d4-019f-1000-6aec-c84b906c7eed","name":"JDBCoutput","instanceIdentifier":"125800cc-cc1c-37bd-5faf-5b2c1c047477"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7a0439d5-019f-1000-1b67-3512ae433438","instanceIdentifier":"118a4a09-c21b-373d-bd79-9a91630d5281","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"},{"identifier":"7a0439d6-019f-1000-6ba4-5bb660d1cd22","instanceIdentifier":"8e9ab070-a3e8-32c0-996a-229277a906ae","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"},{"identifier":"7a0439d7-019f-1000-6cf1-d7d6322f9bb3","instanceIdentifier":"3bbcbc28-24c0-3635-c898-20e54de735e7","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.10.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/jdbc/mysql-connector-j-9.6.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://mysql:3306/ingestion","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0439d4-019f-1000-6aec-c84b906c7eed"}],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[{"identifier":"b2f1ec5f-bb17-3b4b-b25a-ead90ad3a717","instanceIdentifier":"7a5f0a30-019f-1000-e0b3-74f16a364d46","name":"file fails","position":{"x":-4664.0,"y":-992.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"},{"identifier":"6087412b-c4e4-3954-a127-12c2e53a59c7","instanceIdentifier":"7a36c8be-019f-1000-f37f-731ae9c1bed1","name":"CSVs","position":{"x":-5176.0,"y":-968.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"}],"connections":[{"identifier":"959b11b3-ffc0-3ca2-8f18-2d96eb29421a","instanceIdentifier":"7a5f2920-019f-1000-024a-ed9d0710cd41","name":"","source":{"id":"f9d31515-8653-3f42-97cd-f8e5d35c7b33","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"fetch fail","instanceIdentifier":"7a3bdd5c-019f-1000-a360-6015ee82cc28"},"destination":{"id":"b2f1ec5f-bb17-3b4b-b25a-ead90ad3a717","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"file fails","instanceIdentifier":"7a5f0a30-019f-1000-e0b3-74f16a364d46"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"},{"identifier":"1da0e1da-6beb-30f3-a05e-57487ddb4379","instanceIdentifier":"7a5f463c-019f-1000-d367-8cf7decef4d0","name":"","source":{"id":"dcb3b5cf-c852-3447-bfcf-a990689b1e76","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"unmatched attribute","instanceIdentifier":"7a41368f-019f-1000-746e-4cc2685932c4"},"destination":{"id":"b2f1ec5f-bb17-3b4b-b25a-ead90ad3a717","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"file fails","instanceIdentifier":"7a5f0a30-019f-1000-e0b3-74f16a364d46"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-4616.0161187292915,"y":-1219.3652817698805}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"},{"identifier":"c208bce6-aad0-3914-8167-438891eb0f71","instanceIdentifier":"7a3702f5-019f-1000-10b0-f2f5f7dba703","name":"","source":{"id":"7a0439da-019f-1000-5831-0e63cdd15e9a","type":"OUTPUT_PORT","groupId":"7a0439d4-019f-1000-6aec-c84b906c7eed","name":"JDBCoutput","instanceIdentifier":"125800cc-cc1c-37bd-5faf-5b2c1c047477"},"destination":{"id":"6087412b-c4e4-3954-a127-12c2e53a59c7","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"CSVs","instanceIdentifier":"7a36c8be-019f-1000-f37f-731ae9c1bed1"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"},{"identifier":"215a13db-a76d-3b99-8274-9c7beb63332d","instanceIdentifier":"7a3725d4-019f-1000-cb4c-b53542d0b18e","name":"","source":{"id":"7a0439e9-019f-1000-ff11-95f9291db562","type":"OUTPUT_PORT","groupId":"7a0439dd-019f-1000-b409-40d18ed1eb5c","name":"file output","instanceIdentifier":"f62c59fb-f576-383b-04e3-4419f1ce2d67"},"destination":{"id":"6087412b-c4e4-3954-a127-12c2e53a59c7","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"CSVs","instanceIdentifier":"7a36c8be-019f-1000-f37f-731ae9c1bed1"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef3e035-f9be-318c-8023-a4397b1091fc"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"},{"identifier":"5aaa37cc-019f-1000-64b7-380ef521eca6","instanceIdentifier":"03e235f1-adda-3de3-99e2-5a4c76ee37e8","name":"error handling","comments":"","position":{"x":-3848.0,"y":-920.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5dc17323-f8ed-33df-83d1-4026860122d4","instanceIdentifier":"7a592fa4-019f-1000-28a4-57afab6a0930","name":"PutFile","comments":"","position":{"x":-5312.0,"y":-1088.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"},{"identifier":"0a927d41-98f4-381f-8017-d7153423913b","instanceIdentifier":"7a5918c2-019f-1000-05d4-588b1a36f727","name":"LogMessage","comments":"","position":{"x":-5248.0,"y":-1360.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Log Message":"Stage=${stage}\nFile=${filename}\nStatus=FAILED\nTime=${failure_time}","Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"}],"inputPorts":[{"identifier":"5aaa37cd-019f-1000-242c-f3a0ca9fb2c9","instanceIdentifier":"b9aadeab-7faf-34a1-7ec0-86a88728f501","name":"input","position":{"x":-5224.0,"y":-1560.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"}],"outputPorts":[],"connections":[{"identifier":"46605dd5-3790-33d5-93b8-c4c0e30bd39e","instanceIdentifier":"7a5985ce-019f-1000-7874-410d4fb7e752","name":"","source":{"id":"0a927d41-98f4-381f-8017-d7153423913b","type":"PROCESSOR","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"LogMessage","comments":"","instanceIdentifier":"7a5918c2-019f-1000-05d4-588b1a36f727"},"destination":{"id":"5dc17323-f8ed-33df-83d1-4026860122d4","type":"PROCESSOR","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"PutFile","comments":"","instanceIdentifier":"7a592fa4-019f-1000-28a4-57afab6a0930"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"},{"identifier":"929c5a65-4476-3551-b7b4-ef670b359319","instanceIdentifier":"7a59940b-019f-1000-5d8c-f5696f943d9c","name":"","source":{"id":"5aaa37cd-019f-1000-242c-f3a0ca9fb2c9","type":"INPUT_PORT","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"input","instanceIdentifier":"b9aadeab-7faf-34a1-7ec0-86a88728f501"},"destination":{"id":"0a927d41-98f4-381f-8017-d7153423913b","type":"PROCESSOR","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"LogMessage","comments":"","instanceIdentifier":"7a5918c2-019f-1000-05d4-588b1a36f727"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"},{"identifier":"5aaa382c-019f-1000-dbb1-6578a2f70091","instanceIdentifier":"9d9ee2d7-c496-336d-91f3-e06af3242450","name":"storage","comments":"","position":{"x":-4256.0,"y":-632.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c306df8a-2e60-3d1a-be52-641c3d6c45e5","instanceIdentifier":"724fb6a9-0308-3425-35f8-ba60b4a45b94","name":"PutHDFS","comments":"","position":{"x":-5360.0,"y":-1200.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.10.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/hadoop-conf/core-site.xml,/opt/nifi/hadoop-conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"${hdfs_path}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"inputPorts":[{"identifier":"5aaa382e-019f-1000-1b42-ceb54119e749","instanceIdentifier":"c6e5a9ce-99be-3e88-abec-a42b0144fc41","name":"storage input","position":{"x":-5288.0,"y":-1368.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"outputPorts":[],"connections":[{"identifier":"19cc4f7e-8bb4-3797-9c08-03de3b4eb11c","instanceIdentifier":"2629b68f-75e5-3bf4-f44c-8a55d31a0b85","name":"","source":{"id":"5aaa382e-019f-1000-1b42-ceb54119e749","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"storage input","instanceIdentifier":"c6e5a9ce-99be-3e88-abec-a42b0144fc41"},"destination":{"id":"c306df8a-2e60-3d1a-be52-641c3d6c45e5","type":"PROCESSOR","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"PutHDFS","comments":"","instanceIdentifier":"724fb6a9-0308-3425-35f8-ba60b4a45b94"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"},{"identifier":"5aaa382f-019f-1000-6e32-addbf91aa98b","instanceIdentifier":"24537b34-b689-3770-6d3c-ab1a24cfb0ef","name":"monitoring","comments":"","position":{"x":-4648.0,"y":-944.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b2362190-12f4-38d0-b5c8-704aadbf4217","instanceIdentifier":"7a5fbcd4-019f-1000-8a77-e190230fb763","name":"","source":{"id":"b2f1ec5f-bb17-3b4b-b25a-ead90ad3a717","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"file fails","instanceIdentifier":"7a5f0a30-019f-1000-e0b3-74f16a364d46"},"destination":{"id":"5aaa37cd-019f-1000-242c-f3a0ca9fb2c9","type":"INPUT_PORT","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"input","instanceIdentifier":"b9aadeab-7faf-34a1-7ec0-86a88728f501"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"},{"identifier":"b948a4bb-6a31-39a8-813a-454745fe2a0d","instanceIdentifier":"7a37c37e-019f-1000-7a13-09d65724e3c2","name":"","source":{"id":"6087412b-c4e4-3954-a127-12c2e53a59c7","type":"OUTPUT_PORT","groupId":"fef3e035-f9be-318c-8023-a4397b1091fc","name":"CSVs","instanceIdentifier":"7a36c8be-019f-1000-f37f-731ae9c1bed1"},"destination":{"id":"5aaa382e-019f-1000-1b42-ceb54119e749","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"storage input","instanceIdentifier":"c6e5a9ce-99be-3e88-abec-a42b0144fc41"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"629ae7ef-7ba4-3aea-ace6-d6b29d665db1"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prototype1 params":{"name":"prototype1 params","parameters":[{"name":"output","description":"","sensitive":false,"provided":false,"value":"/data/output"},{"name":"input","description":"","sensitive":false,"provided":false,"value":"/data/input"},{"name":"hdfs_base","description":"","sensitive":false,"provided":false,"value":"/data"},{"name":"entity_name","description":"","sensitive":false,"provided":false,"value":"customers"},{"name":"quarantine","description":"","sensitive":false,"provided":false,"value":"/data/quarantine"},{"name":"archive","description":"","sensitive":false,"provided":false,"value":"/data/archive"},{"name":"source_name","description":"","sensitive":false,"provided":false,"value":"csv_source"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}