prototype1.json
{"flowContents":{"identifier":"c2253244-3b1f-3883-aa59-77b827c106cd","instanceIdentifier":"6716f69e-019f-1000-012a-d276a691ad29","name":"prototype1","comments":"","position":{"x":-74.0,"y":-149.8000030517578},"processGroups":[{"identifier":"5aaa3817-019f-1000-340e-d5ff108d53ac","instanceIdentifier":"d0f1235a-3a0d-39ce-d023-a9a6fabbba83","name":"jdbc ingestion","comments":"","position":{"x":-4480.0,"y":-1176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5aaa381f-019f-1000-70e9-1dcb8c7a7cc1","instanceIdentifier":"d8d74fa1-69fa-3f10-3ab8-bda1e7e23af2","name":"QueryDatabaseTableRecord","comments":"","position":{"x":-6464.0,"y":-1240.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Table Name":"employees","Set Auto Commit":null,"Max Wait Time":"0 seconds","Normalize Table/Column Names":"false","Database Connection Pooling Service":"5aaa381a-019f-1000-ca07-57535a950fe1","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Database Type":"MySQL","Columns to Return":null,"Record Writer":"dfb9b45e-3a6f-3bed-be6c-79ffea8819d6","Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"},{"identifier":"5aaa381b-019f-1000-766c-b95c11651617","instanceIdentifier":"407a684c-3e85-39cc-123d-7853b8ad3f8e","name":"UpdateAttribute","comments":"","position":{"x":-6350.6529814896985,"y":-914.7605889927153},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"hdfs_path":"#{hdfs_base}/#{source_name}/#{entity_name}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Delete Attributes Expression":"${filename}","filename":"${filename}.csv","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","source":"jdbc","ingestion_type":"incremental","Stateful Variables Initial Value":null,"entity":"employees"},"propertyDescriptors":{"hdfs_path":{"name":"hdfs_path","displayName":"hdfs_path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_type":{"name":"ingestion_type","displayName":"ingestion_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity":{"name":"entity","displayName":"entity","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"}],"inputPorts":[],"outputPorts":[{"identifier":"5aaa3823-019f-1000-0fb5-32c2244cd510","instanceIdentifier":"16d60496-c807-316f-5781-6494835b4e62","name":"JDBCoutput","position":{"x":-6432.0,"y":-584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"}],"connections":[{"identifier":"5aaa3829-019f-1000-f9a5-58494ba4cfe7","instanceIdentifier":"98076c94-d7ef-3fcd-1c2f-706f418d036b","name":"","source":{"id":"5aaa381f-019f-1000-70e9-1dcb8c7a7cc1","type":"PROCESSOR","groupId":"5aaa3817-019f-1000-340e-d5ff108d53ac","name":"QueryDatabaseTableRecord","comments":"","instanceIdentifier":"d8d74fa1-69fa-3f10-3ab8-bda1e7e23af2"},"destination":{"id":"5aaa381b-019f-1000-766c-b95c11651617","type":"PROCESSOR","groupId":"5aaa3817-019f-1000-340e-d5ff108d53ac","name":"UpdateAttribute","comments":"","instanceIdentifier":"407a684c-3e85-39cc-123d-7853b8ad3f8e"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"},{"identifier":"5aaa3826-019f-1000-00f3-fd26313001a4","instanceIdentifier":"94825d06-e712-3b29-dcdc-60d117858f21","name":"","source":{"id":"5aaa381b-019f-1000-766c-b95c11651617","type":"PROCESSOR","groupId":"5aaa3817-019f-1000-340e-d5ff108d53ac","name":"UpdateAttribute","comments":"","instanceIdentifier":"407a684c-3e85-39cc-123d-7853b8ad3f8e"},"destination":{"id":"5aaa3823-019f-1000-0fb5-32c2244cd510","type":"OUTPUT_PORT","groupId":"5aaa3817-019f-1000-340e-d5ff108d53ac","name":"JDBCoutput","instanceIdentifier":"16d60496-c807-316f-5781-6494835b4e62"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"5aaa3819-019f-1000-22ad-b8c6dcf72a44","instanceIdentifier":"e979cdfb-f9c9-34bf-0a7d-8ea4b0871650","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"},{"identifier":"dfb9b45e-3a6f-3bed-be6c-79ffea8819d6","instanceIdentifier":"6a0e4452-019f-1000-4d98-9a6511c2fb91","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"},{"identifier":"5aaa381a-019f-1000-ca07-57535a950fe1","instanceIdentifier":"67c959b5-90c3-3b43-d69f-4799dd7732f5","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.10.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/jdbc/mysql-connector-j-9.6.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://mysql:3306/ingestion","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa3817-019f-1000-340e-d5ff108d53ac"}],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa37cc-019f-1000-64b7-380ef521eca6","instanceIdentifier":"9b49d41a-4028-35f6-f6bb-a38fad06c927","name":"error handling","comments":"","position":{"x":-3624.0,"y":-784.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[{"identifier":"5aaa37cd-019f-1000-242c-f3a0ca9fb2c9","instanceIdentifier":"5fe68820-c79b-3ab6-94ed-f542779f377c","name":"fetch_fail","position":{"x":-5196.900272650689,"y":-1495.2512291801017},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa37cc-019f-1000-64b7-380ef521eca6"}],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa37ce-019f-1000-dd20-d761db1a392b","instanceIdentifier":"816eff3f-fe02-3b75-4dd4-202f36cc4d80","name":"file ingestion","comments":"","position":{"x":-3968.0,"y":-1176.0},"processGroups":[{"identifier":"5aaa37dc-019f-1000-8c92-431edd89feab","instanceIdentifier":"08c35e15-6b47-313c-0f81-2058b5fff1dc","name":"xml","comments":"","position":{"x":-5424.0,"y":-432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5aaa37dd-019f-1000-0bb4-45cd4cb9cc76","instanceIdentifier":"5be4dfcf-408e-3de0-c1eb-357cb240b4de","name":"UpdateAttribute","comments":"","position":{"x":-6888.0,"y":-296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37df-019f-1000-da8b-7ae4ff2221c8","instanceIdentifier":"620d8782-ef94-3924-8b85-32593640c049","name":"UpdateAttribute","comments":"","position":{"x":-6366.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":"${filename}","filename":"${filename:replace('.xml','.csv')}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e0-019f-1000-37e5-015c6ddce496","instanceIdentifier":"f482b1e7-63d4-349d-607a-8f48a38411e3","name":"PutFile","comments":"","position":{"x":-7416.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e1-019f-1000-3c4b-0c2acfa60707","instanceIdentifier":"1e7d4e71-67fe-3979-1bc2-3ed85f9e1987","name":"RetryFlowFile","comments":"","position":{"x":-7256.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37de-019f-1000-83ba-ebdaccd8a99c","instanceIdentifier":"f419ac54-102d-3ff4-95ce-c5723399aa28","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"750c0738-2612-33b3-a059-67a0e990ab9f","Record Reader":"5aaa37cf-019f-1000-d922-dc67c721e5fb"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"}],"inputPorts":[{"identifier":"5aaa37e2-019f-1000-4299-99a0fa551ee6","instanceIdentifier":"890bd777-4add-347b-a077-4321598753b2","name":"xml_input","position":{"x":-6419.669106833273,"y":-738.1634846609811},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"}],"outputPorts":[{"identifier":"5aaa37e3-019f-1000-0c3c-f3d91cea6a9c","instanceIdentifier":"f5593be9-825a-3e34-5995-a74aaaf3c818","name":"xml_success","position":{"x":-6059.559704611987,"y":-76.9915818644539},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"}],"connections":[{"identifier":"5aaa37e4-019f-1000-3b2a-b76e95ca9973","instanceIdentifier":"e6116dfd-96e2-3d34-fe6d-b79d9c3749c6","name":"","source":{"id":"5aaa37e1-019f-1000-3c4b-0c2acfa60707","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"RetryFlowFile","comments":"","instanceIdentifier":"1e7d4e71-67fe-3979-1bc2-3ed85f9e1987"},"destination":{"id":"5aaa37e0-019f-1000-37e5-015c6ddce496","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"PutFile","comments":"","instanceIdentifier":"f482b1e7-63d4-349d-607a-8f48a38411e3"},"labelIndex":0,"zIndex":19,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37ea-019f-1000-2436-7413888be21d","instanceIdentifier":"8608a470-7f30-3294-c0a9-9a30930397ce","name":"","source":{"id":"5aaa37de-019f-1000-83ba-ebdaccd8a99c","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"ConvertRecord","comments":"","instanceIdentifier":"f419ac54-102d-3ff4-95ce-c5723399aa28"},"destination":{"id":"5aaa37dd-019f-1000-0bb4-45cd4cb9cc76","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"UpdateAttribute","comments":"","instanceIdentifier":"5be4dfcf-408e-3de0-c1eb-357cb240b4de"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e5-019f-1000-be7b-0bf6e588ab07","instanceIdentifier":"f323c5ea-d48d-3f9c-cf29-1d083e6d0c63","name":"","source":{"id":"5aaa37df-019f-1000-da8b-7ae4ff2221c8","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"UpdateAttribute","comments":"","instanceIdentifier":"620d8782-ef94-3924-8b85-32593640c049"},"destination":{"id":"5aaa37e3-019f-1000-0c3c-f3d91cea6a9c","type":"OUTPUT_PORT","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"xml_success","instanceIdentifier":"f5593be9-825a-3e34-5995-a74aaaf3c818"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e6-019f-1000-7ead-067fe891cbf5","instanceIdentifier":"77c623f3-2995-37ab-2d43-4428a5b857d3","name":"","source":{"id":"5aaa37e1-019f-1000-3c4b-0c2acfa60707","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"RetryFlowFile","comments":"","instanceIdentifier":"1e7d4e71-67fe-3979-1bc2-3ed85f9e1987"},"destination":{"id":"5aaa37de-019f-1000-83ba-ebdaccd8a99c","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"ConvertRecord","comments":"","instanceIdentifier":"f419ac54-102d-3ff4-95ce-c5723399aa28"},"labelIndex":0,"zIndex":17,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e9-019f-1000-45fc-6f54070ad99b","instanceIdentifier":"d62c7a96-b062-3e80-2b8c-ca418396193d","name":"","source":{"id":"5aaa37e2-019f-1000-4299-99a0fa551ee6","type":"INPUT_PORT","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"xml_input","instanceIdentifier":"890bd777-4add-347b-a077-4321598753b2"},"destination":{"id":"5aaa37de-019f-1000-83ba-ebdaccd8a99c","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"ConvertRecord","comments":"","instanceIdentifier":"f419ac54-102d-3ff4-95ce-c5723399aa28"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e7-019f-1000-6607-d9cb962edf67","instanceIdentifier":"69405ac6-2d2b-39ac-5d7d-08d4bdc34462","name":"","source":{"id":"5aaa37de-019f-1000-83ba-ebdaccd8a99c","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"ConvertRecord","comments":"","instanceIdentifier":"f419ac54-102d-3ff4-95ce-c5723399aa28"},"destination":{"id":"5aaa37df-019f-1000-da8b-7ae4ff2221c8","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"UpdateAttribute","comments":"","instanceIdentifier":"620d8782-ef94-3924-8b85-32593640c049"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"},{"identifier":"5aaa37e8-019f-1000-bc40-47cc83b5e7ca","instanceIdentifier":"2482086f-cd9f-33fd-fd8d-293f66a4e0b7","name":"","source":{"id":"5aaa37dd-019f-1000-0bb4-45cd4cb9cc76","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"UpdateAttribute","comments":"","instanceIdentifier":"5be4dfcf-408e-3de0-c1eb-357cb240b4de"},"destination":{"id":"5aaa37e1-019f-1000-3c4b-0c2acfa60707","type":"PROCESSOR","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"RetryFlowFile","comments":"","instanceIdentifier":"1e7d4e71-67fe-3979-1bc2-3ed85f9e1987"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37dc-019f-1000-8c92-431edd89feab"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","instanceIdentifier":"be2cc301-c50a-3652-ab58-5e61f7e861f9","name":"csv","comments":"","position":{"x":-6488.0,"y":-440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5aaa37ec-019f-1000-da80-8a960f66eea4","instanceIdentifier":"0d23ac99-1270-3f52-98aa-bf4e102c02e8","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"750c0738-2612-33b3-a059-67a0e990ab9f","Record Reader":"5aaa37d2-019f-1000-3711-20c7cb43a906"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37ed-019f-1000-6bec-25f33967e2eb","instanceIdentifier":"f7814861-0596-300b-029b-dd3bc9e50a15","name":"UpdateAttribute","comments":"","position":{"x":-6902.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37ef-019f-1000-3c78-cd16ee83d572","instanceIdentifier":"16c1a89c-e5a0-3b00-6116-059e68809bf8","name":"RetryFlowFile","comments":"","position":{"x":-7416.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37f0-019f-1000-b860-320cc92de46d","instanceIdentifier":"7be8958d-0065-3e48-5357-979483279020","name":"PutFile","comments":"","position":{"x":-7552.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"}],"inputPorts":[{"identifier":"5aaa37f1-019f-1000-a668-ec002f5562b6","instanceIdentifier":"d3fa50d0-e130-38f0-e9d3-cbb325a67a5d","name":"csv_input","position":{"x":-6437.65754449764,"y":-773.8924308182679},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"}],"outputPorts":[{"identifier":"5aaa37f2-019f-1000-ab4b-80f2942562c9","instanceIdentifier":"464afd3e-df03-3fe4-9853-6d295e85150b","name":"csv_success","position":{"x":-6169.471968568903,"y":-69.68392825331085},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"}],"connections":[{"identifier":"5aaa37f6-019f-1000-68e4-1fb64aea3cd8","instanceIdentifier":"aac6e2f9-2811-35e8-88e6-460f411d4ea1","name":"","source":{"id":"5aaa37f1-019f-1000-a668-ec002f5562b6","type":"INPUT_PORT","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"csv_input","instanceIdentifier":"d3fa50d0-e130-38f0-e9d3-cbb325a67a5d"},"destination":{"id":"5aaa37ec-019f-1000-da80-8a960f66eea4","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"ConvertRecord","comments":"","instanceIdentifier":"0d23ac99-1270-3f52-98aa-bf4e102c02e8"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37f9-019f-1000-36ae-f1b0ca25dbdd","instanceIdentifier":"ab095938-35c9-3751-b329-fbf816fcaaeb","name":"","source":{"id":"5aaa37ef-019f-1000-3c78-cd16ee83d572","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"RetryFlowFile","comments":"","instanceIdentifier":"16c1a89c-e5a0-3b00-6116-059e68809bf8"},"destination":{"id":"5aaa37f0-019f-1000-b860-320cc92de46d","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"PutFile","comments":"","instanceIdentifier":"7be8958d-0065-3e48-5357-979483279020"},"labelIndex":0,"zIndex":19,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37f3-019f-1000-3dcc-12063dec3e95","instanceIdentifier":"a6580b6a-2a8f-3f9e-8f99-13140d2cda72","name":"","source":{"id":"5aaa37ed-019f-1000-6bec-25f33967e2eb","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"UpdateAttribute","comments":"","instanceIdentifier":"f7814861-0596-300b-029b-dd3bc9e50a15"},"destination":{"id":"5aaa37ef-019f-1000-3c78-cd16ee83d572","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"RetryFlowFile","comments":"","instanceIdentifier":"16c1a89c-e5a0-3b00-6116-059e68809bf8"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37f4-019f-1000-7fa7-5daabf5731a5","instanceIdentifier":"183a2ff8-1310-3c8e-89c0-73c19ed53017","name":"","source":{"id":"5aaa37ef-019f-1000-3c78-cd16ee83d572","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"RetryFlowFile","comments":"","instanceIdentifier":"16c1a89c-e5a0-3b00-6116-059e68809bf8"},"destination":{"id":"5aaa37ec-019f-1000-da80-8a960f66eea4","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"ConvertRecord","comments":"","instanceIdentifier":"0d23ac99-1270-3f52-98aa-bf4e102c02e8"},"labelIndex":0,"zIndex":18,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"5aaa37f8-019f-1000-53f4-3dc0aa812c30","instanceIdentifier":"bbd41f71-f6fc-3222-22cc-df839170d2b9","name":"","source":{"id":"5aaa37ec-019f-1000-da80-8a960f66eea4","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"ConvertRecord","comments":"","instanceIdentifier":"0d23ac99-1270-3f52-98aa-bf4e102c02e8"},"destination":{"id":"5aaa37ed-019f-1000-6bec-25f33967e2eb","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"UpdateAttribute","comments":"","instanceIdentifier":"f7814861-0596-300b-029b-dd3bc9e50a15"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"},{"identifier":"e7434463-6ac1-39e5-a6af-2b52d32ce05b","instanceIdentifier":"6a12c9a0-019f-1000-dc65-378ebd0b2a64","name":"","source":{"id":"5aaa37ec-019f-1000-da80-8a960f66eea4","type":"PROCESSOR","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"ConvertRecord","comments":"","instanceIdentifier":"0d23ac99-1270-3f52-98aa-bf4e102c02e8"},"destination":{"id":"5aaa37f2-019f-1000-ab4b-80f2942562c9","type":"OUTPUT_PORT","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"csv_success","instanceIdentifier":"464afd3e-df03-3fe4-9853-6d295e85150b"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","instanceIdentifier":"ca513101-c9d6-3507-638e-cdabddb47025","name":"json","comments":"","position":{"x":-5968.0,"y":-416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5aaa37fb-019f-1000-f8a9-d736a260e2b9","instanceIdentifier":"263882d8-cec7-3100-3ceb-2ce7904e39d6","name":"UpdateAttribute","comments":"","position":{"x":-6902.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"stage":"ConvertRecord","Store State":"Do not store state","failure_time":"${now()}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"status":"FAILED"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stage":{"name":"stage","displayName":"stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failure_time":{"name":"failure_time","displayName":"failure_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa37ff-019f-1000-6413-9605d78e9bd0","instanceIdentifier":"e2f09968-d070-3b43-4c6b-3ad9b9e37a3b","name":"ConvertRecord","comments":"","position":{"x":-6550.0,"y":-550.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"750c0738-2612-33b3-a059-67a0e990ab9f","Record Reader":"5aaa37d1-019f-1000-7c31-20d5a5a7d4de"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa37fe-019f-1000-654e-696552eb603b","instanceIdentifier":"7b42f388-7278-36df-0ec0-95854edb700e","name":"UpdateAttribute","comments":"","position":{"x":-6366.0,"y":-302.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":"${filename}","filename":"${filename:replace('.json','.csv')}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa37fd-019f-1000-1351-1b51983f4c72","instanceIdentifier":"789d1818-f101-3474-8b57-52ad9816eddd","name":"RetryFlowFile","comments":"","position":{"x":-7200.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa37fc-019f-1000-80c8-3f2500abcc06","instanceIdentifier":"25383a81-be28-3eb8-5a53-844ab3dc7e5d","name":"PutFile","comments":"","position":{"x":-7456.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{quarantine}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"}],"inputPorts":[{"identifier":"5aaa3800-019f-1000-82f6-966bc6b98c9f","instanceIdentifier":"668f099b-734c-3bf7-d929-0a986b72a036","name":"json_input","position":{"x":-6512.0,"y":-760.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"}],"outputPorts":[{"identifier":"5aaa3801-019f-1000-3685-51337301b3e2","instanceIdentifier":"edb4a2aa-f7cb-349d-7a0b-2f96995877de","name":"json_success","position":{"x":-6216.0,"y":-40.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"}],"connections":[{"identifier":"5aaa3806-019f-1000-6eb9-30d13017bc6c","instanceIdentifier":"894952ae-1466-3d93-91da-8e32c246bd14","name":"","source":{"id":"5aaa3800-019f-1000-82f6-966bc6b98c9f","type":"INPUT_PORT","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"json_input","instanceIdentifier":"668f099b-734c-3bf7-d929-0a986b72a036"},"destination":{"id":"5aaa37ff-019f-1000-6413-9605d78e9bd0","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"ConvertRecord","comments":"","instanceIdentifier":"e2f09968-d070-3b43-4c6b-3ad9b9e37a3b"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3803-019f-1000-64c1-7e7acc50413e","instanceIdentifier":"af35e216-aa0e-34a1-b14e-68800c8c391d","name":"","source":{"id":"5aaa37fd-019f-1000-1351-1b51983f4c72","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"RetryFlowFile","comments":"","instanceIdentifier":"789d1818-f101-3474-8b57-52ad9816eddd"},"destination":{"id":"5aaa37fc-019f-1000-80c8-3f2500abcc06","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"PutFile","comments":"","instanceIdentifier":"25383a81-be28-3eb8-5a53-844ab3dc7e5d"},"labelIndex":0,"zIndex":19,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3808-019f-1000-f54a-01c9c6549e04","instanceIdentifier":"0a873de3-110f-3b89-fc7d-4d1cce59b0e3","name":"","source":{"id":"5aaa37fb-019f-1000-f8a9-d736a260e2b9","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"UpdateAttribute","comments":"","instanceIdentifier":"263882d8-cec7-3100-3ceb-2ce7904e39d6"},"destination":{"id":"5aaa37fd-019f-1000-1351-1b51983f4c72","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"RetryFlowFile","comments":"","instanceIdentifier":"789d1818-f101-3474-8b57-52ad9816eddd"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3805-019f-1000-0c0b-be0945a2873d","instanceIdentifier":"4644f301-6b22-3e86-05cd-f42492a9c580","name":"","source":{"id":"5aaa37ff-019f-1000-6413-9605d78e9bd0","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"ConvertRecord","comments":"","instanceIdentifier":"e2f09968-d070-3b43-4c6b-3ad9b9e37a3b"},"destination":{"id":"5aaa37fe-019f-1000-654e-696552eb603b","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"UpdateAttribute","comments":"","instanceIdentifier":"7b42f388-7278-36df-0ec0-95854edb700e"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3804-019f-1000-e7cf-08701a05dd0f","instanceIdentifier":"353fe62f-b33c-3678-f41c-86951cc53943","name":"","source":{"id":"5aaa37fd-019f-1000-1351-1b51983f4c72","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"RetryFlowFile","comments":"","instanceIdentifier":"789d1818-f101-3474-8b57-52ad9816eddd"},"destination":{"id":"5aaa37ff-019f-1000-6413-9605d78e9bd0","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"ConvertRecord","comments":"","instanceIdentifier":"e2f09968-d070-3b43-4c6b-3ad9b9e37a3b"},"labelIndex":0,"zIndex":18,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3807-019f-1000-428f-d0c777d63b14","instanceIdentifier":"e1c78fd1-f7a9-3e00-05f1-a17170dabe88","name":"","source":{"id":"5aaa37fe-019f-1000-654e-696552eb603b","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"UpdateAttribute","comments":"","instanceIdentifier":"7b42f388-7278-36df-0ec0-95854edb700e"},"destination":{"id":"5aaa3801-019f-1000-3685-51337301b3e2","type":"OUTPUT_PORT","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"json_success","instanceIdentifier":"edb4a2aa-f7cb-349d-7a0b-2f96995877de"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"},{"identifier":"5aaa3802-019f-1000-aff2-a2168b9311b2","instanceIdentifier":"bc20d970-b4c4-3eed-906c-206072c8fe73","name":"","source":{"id":"5aaa37ff-019f-1000-6413-9605d78e9bd0","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"ConvertRecord","comments":"","instanceIdentifier":"e2f09968-d070-3b43-4c6b-3ad9b9e37a3b"},"destination":{"id":"5aaa37fb-019f-1000-f8a9-d736a260e2b9","type":"PROCESSOR","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"UpdateAttribute","comments":"","instanceIdentifier":"263882d8-cec7-3100-3ceb-2ce7904e39d6"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37fa-019f-1000-81f3-b8ee54a2005f"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"remoteProcessGroups":[],"processors":[{"identifier":"5aaa37d4-019f-1000-9838-c92e2e593d33","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a","name":"FetchFile","comments":"","position":{"x":-5992.0,"y":-1392.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["permission.denied"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["not.found"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d8-019f-1000-508f-f0e8357bdeb2","instanceIdentifier":"e7316362-fcd3-3d86-05ca-b0c398e2ce02","name":"ListFile","comments":"","position":{"x":-6000.836832809199,"y":-1599.777839692654},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Minimum File Age":"5 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"#{input}","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d7-019f-1000-c8ea-36d1071178fd","instanceIdentifier":"f072e984-c1f2-3db0-46e4-eabf3783e42e","name":"UpdateAttribute (hdfs path)","comments":"","position":{"x":-5984.0,"y":-952.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"hdfs_path":"#{hdfs_base}/${source}/${entity}/year=${ingestion_year}/month=${ingestion_month}/day=${ingestion_day}","Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs_path":{"name":"hdfs_path","displayName":"hdfs_path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d3-019f-1000-3119-b871ef8a0574","instanceIdentifier":"beb79679-5099-394e-4b6a-3d078b08815b","name":"RetryFlowFile","comments":"","position":{"x":-6664.0,"y":-1432.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retries_exceeded","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d6-019f-1000-b816-c122955ec3e4","instanceIdentifier":"d6f84f82-fb0f-3720-2f19-e0ea8cb9faef","name":"UpdateAttribute","comments":"","position":{"x":-5984.0,"y":-1176.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.10.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","ingestion_day":"${now():format(\"dd\")}","ingestion_year":"${now():format(\"yyyy\")}","Cache Value Lookup Cache Size":"100","ingestion_month":"${now():format(\"MM\")}","source":"#{source_name}","Stateful Variables Initial Value":null,"entity":"#{entity_name}","ingestion_date":"${now():format('yyyy-MM-dd')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion_day":{"name":"ingestion_day","displayName":"ingestion_day","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_year":{"name":"ingestion_year","displayName":"ingestion_year","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion_month":{"name":"ingestion_month","displayName":"ingestion_month","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity":{"name":"entity","displayName":"entity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion_date":{"name":"ingestion_date","displayName":"ingestion_date","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d5-019f-1000-fa05-f82ba5d690f9","instanceIdentifier":"aeadacbc-ad8d-3e0d-c085-c42cf717aef3","name":"RouteOnAttribute","comments":"","position":{"x":-6000.0,"y":-744.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.10.0"},"properties":{"txt":"${filename:toLower():endsWith('.txt')}","Routing Strategy":"Route to Property name","xml":"${filename:toLower():endsWith('.xml')}","csv":"${filename:toLower():endsWith('.csv')}","json":"${filename:toLower():endsWith('.json')}"},"propertyDescriptors":{"txt":{"name":"txt","displayName":"txt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"xml":{"name":"xml","displayName":"xml","identifiesControllerService":false,"sensitive":false,"dynamic":true},"csv":{"name":"csv","displayName":"csv","identifiesControllerService":false,"sensitive":false,"dynamic":true},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["txt","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"inputPorts":[],"outputPorts":[{"identifier":"5aaa37da-019f-1000-9d34-b81ee17b8a82","instanceIdentifier":"ecef6b38-5b1b-37a2-a3f3-482694701b63","name":"fetch_fail","position":{"x":-5304.0,"y":-1352.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d9-019f-1000-737e-3d369a66d384","instanceIdentifier":"6060362d-f0db-3597-c746-95aab8136526","name":"JSONs","position":{"x":-5872.0,"y":256.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"connections":[{"identifier":"5aaa3812-019f-1000-ce3c-accf28d8e5e7","instanceIdentifier":"1a6d780e-06bb-3438-c372-d4693cf05489","name":"","source":{"id":"5aaa37d5-019f-1000-fa05-f82ba5d690f9","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"aeadacbc-ad8d-3e0d-c085-c42cf717aef3"},"destination":{"id":"5aaa3800-019f-1000-82f6-966bc6b98c9f","type":"INPUT_PORT","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"json_input","instanceIdentifier":"668f099b-734c-3bf7-d929-0a986b72a036"},"labelIndex":0,"zIndex":10,"selectedRelationships":["json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3810-019f-1000-5309-cf1629bce756","instanceIdentifier":"ee132714-8642-3656-5fbd-f601a115099e","name":"","source":{"id":"5aaa37d8-019f-1000-508f-f0e8357bdeb2","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"ListFile","comments":"","instanceIdentifier":"e7316362-fcd3-3d86-05ca-b0c398e2ce02"},"destination":{"id":"5aaa37d4-019f-1000-9838-c92e2e593d33","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"FetchFile","comments":"","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380b-019f-1000-938a-af271c886cc7","instanceIdentifier":"1cecb7b2-2db6-3f1f-c579-407d2396ec79","name":"","source":{"id":"5aaa37d4-019f-1000-9838-c92e2e593d33","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"FetchFile","comments":"","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a"},"destination":{"id":"5aaa37d3-019f-1000-3119-b871ef8a0574","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RetryFlowFile","comments":"","instanceIdentifier":"beb79679-5099-394e-4b6a-3d078b08815b"},"labelIndex":0,"zIndex":4,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3813-019f-1000-52a4-6324fbf801ef","instanceIdentifier":"b979b27e-70e9-3764-fa13-97c4e9a10cb6","name":"","source":{"id":"5aaa37e3-019f-1000-0c3c-f3d91cea6a9c","type":"OUTPUT_PORT","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"xml_success","instanceIdentifier":"f5593be9-825a-3e34-5995-a74aaaf3c818"},"destination":{"id":"5aaa37db-019f-1000-f952-9def955121df","type":"FUNNEL","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"Funnel","comments":"","instanceIdentifier":"1218bfa5-17b3-3d3d-3da5-b30bd199340a"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3814-019f-1000-0262-9b5092e95ffe","instanceIdentifier":"8a8a1750-ffea-372e-6c7f-a107de29eabc","name":"","source":{"id":"5aaa37d5-019f-1000-fa05-f82ba5d690f9","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"aeadacbc-ad8d-3e0d-c085-c42cf717aef3"},"destination":{"id":"5aaa37e2-019f-1000-4299-99a0fa551ee6","type":"INPUT_PORT","groupId":"5aaa37dc-019f-1000-8c92-431edd89feab","name":"xml_input","instanceIdentifier":"890bd777-4add-347b-a077-4321598753b2"},"labelIndex":0,"zIndex":11,"selectedRelationships":["xml"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380a-019f-1000-e981-13e9d7fa8972","instanceIdentifier":"4447e574-b9c4-3561-941e-1bc89a16b1a5","name":"","source":{"id":"5aaa37d4-019f-1000-9838-c92e2e593d33","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"FetchFile","comments":"","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a"},"destination":{"id":"5aaa37d6-019f-1000-b816-c122955ec3e4","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"UpdateAttribute","comments":"","instanceIdentifier":"d6f84f82-fb0f-3720-2f19-e0ea8cb9faef"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380e-019f-1000-88a2-163dd4b764da","instanceIdentifier":"7ba8a5f8-72a2-37e0-0ba7-a68b7fddffdb","name":"","source":{"id":"5aaa37d7-019f-1000-c8ea-36d1071178fd","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"UpdateAttribute (hdfs path)","comments":"","instanceIdentifier":"f072e984-c1f2-3db0-46e4-eabf3783e42e"},"destination":{"id":"5aaa37d5-019f-1000-fa05-f82ba5d690f9","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"aeadacbc-ad8d-3e0d-c085-c42cf717aef3"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3809-019f-1000-c5a0-72c8ce734861","instanceIdentifier":"0c09e7a8-4b1d-39c7-ae67-01be900a5ac3","name":"","source":{"id":"5aaa3801-019f-1000-3685-51337301b3e2","type":"OUTPUT_PORT","groupId":"5aaa37fa-019f-1000-81f3-b8ee54a2005f","name":"json_success","instanceIdentifier":"edb4a2aa-f7cb-349d-7a0b-2f96995877de"},"destination":{"id":"5aaa37db-019f-1000-f952-9def955121df","type":"FUNNEL","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"Funnel","comments":"","instanceIdentifier":"1218bfa5-17b3-3d3d-3da5-b30bd199340a"},"labelIndex":0,"zIndex":13,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380c-019f-1000-4ea4-521abe179ac0","instanceIdentifier":"efe6db37-2ae7-3a8a-0a8d-baf16336eae6","name":"","source":{"id":"5aaa37d4-019f-1000-9838-c92e2e593d33","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"FetchFile","comments":"","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a"},"destination":{"id":"5aaa37da-019f-1000-9d34-b81ee17b8a82","type":"OUTPUT_PORT","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"fetch_fail","instanceIdentifier":"ecef6b38-5b1b-37a2-a3f3-482694701b63"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3811-019f-1000-1d4d-f68a0e28a4dc","instanceIdentifier":"b24bed28-1d53-3fdb-c577-68f55a250c85","name":"","source":{"id":"5aaa37d5-019f-1000-fa05-f82ba5d690f9","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"aeadacbc-ad8d-3e0d-c085-c42cf717aef3"},"destination":{"id":"5aaa37f1-019f-1000-a668-ec002f5562b6","type":"INPUT_PORT","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"csv_input","instanceIdentifier":"d3fa50d0-e130-38f0-e9d3-cbb325a67a5d"},"labelIndex":0,"zIndex":9,"selectedRelationships":["csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380d-019f-1000-754e-19e0e2216f54","instanceIdentifier":"7f16fa2c-2209-3f65-2600-f858b539f1a0","name":"","source":{"id":"5aaa37f2-019f-1000-ab4b-80f2942562c9","type":"OUTPUT_PORT","groupId":"5aaa37eb-019f-1000-6fc5-fadcd746f8b6","name":"csv_success","instanceIdentifier":"464afd3e-df03-3fe4-9853-6d295e85150b"},"destination":{"id":"5aaa37db-019f-1000-f952-9def955121df","type":"FUNNEL","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"Funnel","comments":"","instanceIdentifier":"1218bfa5-17b3-3d3d-3da5-b30bd199340a"},"labelIndex":0,"zIndex":12,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3815-019f-1000-cd3c-14ae74e731b0","instanceIdentifier":"942836bd-891d-31a3-4b15-e9c623967a80","name":"","source":{"id":"5aaa37d3-019f-1000-3119-b871ef8a0574","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"RetryFlowFile","comments":"","instanceIdentifier":"beb79679-5099-394e-4b6a-3d078b08815b"},"destination":{"id":"5aaa37d4-019f-1000-9838-c92e2e593d33","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"FetchFile","comments":"","instanceIdentifier":"2f136400-2e69-368c-6157-b99c5706691a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6136.0,"y":-1280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa3816-019f-1000-c246-e7903474280a","instanceIdentifier":"c615dae4-08c3-3d38-aacc-2c5544aec7da","name":"","source":{"id":"5aaa37db-019f-1000-f952-9def955121df","type":"FUNNEL","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"Funnel","comments":"","instanceIdentifier":"1218bfa5-17b3-3d3d-3da5-b30bd199340a"},"destination":{"id":"5aaa37d9-019f-1000-737e-3d369a66d384","type":"OUTPUT_PORT","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"JSONs","instanceIdentifier":"6060362d-f0db-3597-c746-95aab8136526"},"labelIndex":0,"zIndex":15,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa380f-019f-1000-8e98-33560e052a8b","instanceIdentifier":"3c22c5cd-beba-3ee5-6155-67306947b5ad","name":"","source":{"id":"5aaa37d6-019f-1000-b816-c122955ec3e4","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"UpdateAttribute","comments":"","instanceIdentifier":"d6f84f82-fb0f-3720-2f19-e0ea8cb9faef"},"destination":{"id":"5aaa37d7-019f-1000-c8ea-36d1071178fd","type":"PROCESSOR","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"UpdateAttribute (hdfs path)","comments":"","instanceIdentifier":"f072e984-c1f2-3db0-46e4-eabf3783e42e"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"labels":[],"funnels":[{"identifier":"5aaa37db-019f-1000-f952-9def955121df","instanceIdentifier":"1218bfa5-17b3-3d3d-3da5-b30bd199340a","position":{"x":-5792.0,"y":-24.0},"componentType":"FUNNEL","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"controllerServices":[{"identifier":"750c0738-2612-33b3-a059-67a0e990ab9f","instanceIdentifier":"6a0f3370-019f-1000-045b-e9af0e81574e","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d2-019f-1000-3711-20c7cb43a906","instanceIdentifier":"24ebea1c-0cf7-3f29-7fca-1541e07e021b","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37d1-019f-1000-7c31-20d5a5a7d4de","instanceIdentifier":"4cb7d6ce-5aae-3046-0579-c24b7d2ab43e","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Parsing Strategy":"STANDARD"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parsing Strategy":{"name":"Parsing Strategy","displayName":"Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"},{"identifier":"5aaa37cf-019f-1000-d922-dc67c721e5fb","instanceIdentifier":"a7e399db-713c-3ff8-22ad-20d49735dbe2","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.10.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Field Name for Content":null,"Schema Text":"${avro.schema}","Schema Inference Cache":null,"Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Parse XML Attributes":"true","Attribute Prefix":null,"Schema Version":null,"Time Format":null,"Expect Records as Array":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Field Name for Content":{"name":"Field Name for Content","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parse XML Attributes":{"name":"Parse XML Attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Prefix":{"name":"Attribute Prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expect Records as Array":{"name":"Expect Records as Array","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.10.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5aaa37ce-019f-1000-dd20-d761db1a392b"}],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa382f-019f-1000-6e32-addbf91aa98b","instanceIdentifier":"f1ec3071-a2da-3fcc-2cd5-1cc7732742f2","name":"logging","comments":"","position":{"x":-4752.0,"y":-880.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa382c-019f-1000-dbb1-6578a2f70091","instanceIdentifier":"57c93cdd-c3d0-32f5-00b9-f3b589e15d3e","name":"storage","comments":"","position":{"x":-4288.0,"y":-768.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c306df8a-2e60-3d1a-be52-641c3d6c45e5","instanceIdentifier":"e74d711a-b51b-3cb0-c490-6d99d8293ad0","name":"PutHDFS","comments":"","position":{"x":-5360.0,"y":-1200.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.10.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/hadoop-conf/core-site.xml,/opt/nifi/hadoop-conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"${hdfs_path}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"inputPorts":[{"identifier":"5aaa382d-019f-1000-665c-f983e3265bee","instanceIdentifier":"db769fd8-9f69-3504-aca1-5055d8d1ac89","name":"JDBCinput","position":{"x":-5440.0,"y":-1352.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"},{"identifier":"5aaa382e-019f-1000-1b42-ceb54119e749","instanceIdentifier":"350bc4b5-0583-38f1-759c-d57949963bff","name":"JSONs","position":{"x":-5124.575877434777,"y":-1350.5224991651166},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"outputPorts":[],"connections":[{"identifier":"19cc4f7e-8bb4-3797-9c08-03de3b4eb11c","instanceIdentifier":"929fbae5-e408-36a9-6d64-48dc464a79b0","name":"","source":{"id":"5aaa382e-019f-1000-1b42-ceb54119e749","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"JSONs","instanceIdentifier":"350bc4b5-0583-38f1-759c-d57949963bff"},"destination":{"id":"c306df8a-2e60-3d1a-be52-641c3d6c45e5","type":"PROCESSOR","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"PutHDFS","comments":"","instanceIdentifier":"e74d711a-b51b-3cb0-c490-6d99d8293ad0"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"},{"identifier":"2d0336e8-319d-3bda-879c-b780b76a4293","instanceIdentifier":"68bbf947-89b2-35df-cdd2-964625044f7b","name":"","source":{"id":"5aaa382d-019f-1000-665c-f983e3265bee","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"JDBCinput","instanceIdentifier":"db769fd8-9f69-3504-aca1-5055d8d1ac89"},"destination":{"id":"c306df8a-2e60-3d1a-be52-641c3d6c45e5","type":"PROCESSOR","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"PutHDFS","comments":"","instanceIdentifier":"e74d711a-b51b-3cb0-c490-6d99d8293ad0"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5aaa382c-019f-1000-dbb1-6578a2f70091"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5aaa3831-019f-1000-b922-2f3f43c86f2f","instanceIdentifier":"c59a42e8-50d6-3060-18f7-09dfec7be7ae","name":"","source":{"id":"5aaa3823-019f-1000-0fb5-32c2244cd510","type":"OUTPUT_PORT","groupId":"5aaa3817-019f-1000-340e-d5ff108d53ac","name":"JDBCoutput","instanceIdentifier":"16d60496-c807-316f-5781-6494835b4e62"},"destination":{"id":"5aaa382d-019f-1000-665c-f983e3265bee","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"JDBCinput","instanceIdentifier":"db769fd8-9f69-3504-aca1-5055d8d1ac89"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa3830-019f-1000-9f67-08ec19e8654a","instanceIdentifier":"7419b060-dc8d-32a7-6bbd-6b839cbecc7a","name":"","source":{"id":"5aaa37da-019f-1000-9d34-b81ee17b8a82","type":"OUTPUT_PORT","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"fetch_fail","instanceIdentifier":"ecef6b38-5b1b-37a2-a3f3-482694701b63"},"destination":{"id":"5aaa37cd-019f-1000-242c-f3a0ca9fb2c9","type":"INPUT_PORT","groupId":"5aaa37cc-019f-1000-64b7-380ef521eca6","name":"fetch_fail","instanceIdentifier":"5fe68820-c79b-3ab6-94ed-f542779f377c"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"},{"identifier":"5aaa3832-019f-1000-ca8d-4a7bd105d564","instanceIdentifier":"603b5922-2b29-3062-0be6-0bfaffa7534d","name":"","source":{"id":"5aaa37d9-019f-1000-737e-3d369a66d384","type":"OUTPUT_PORT","groupId":"5aaa37ce-019f-1000-dd20-d761db1a392b","name":"JSONs","instanceIdentifier":"6060362d-f0db-3597-c746-95aab8136526"},"destination":{"id":"5aaa382e-019f-1000-1b42-ceb54119e749","type":"INPUT_PORT","groupId":"5aaa382c-019f-1000-dbb1-6578a2f70091","name":"JSONs","instanceIdentifier":"350bc4b5-0583-38f1-759c-d57949963bff"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2253244-3b1f-3883-aa59-77b827c106cd"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prototype1 params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prototype1 params":{"name":"prototype1 params","parameters":[{"name":"output","description":"","sensitive":false,"provided":false,"value":"/data/output"},{"name":"input","description":"","sensitive":false,"provided":false,"value":"/data/input"},{"name":"hdfs_base","description":"","sensitive":false,"provided":false,"value":"/data"},{"name":"entity_name","description":"","sensitive":false,"provided":false,"value":"customers"},{"name":"quarantine","description":"","sensitive":false,"provided":false,"value":"/data/quarantine"},{"name":"archive","description":"","sensitive":false,"provided":false,"value":"/data/archive"},{"name":"source_name","description":"","sensitive":false,"provided":false,"value":"csv_source"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}